# Configmap with env variables used by both Keycloak and Postgres
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-shared-config
  namespace: develop
data:
  DB_NAME: keycloak
  DB_USER: keycloak
immutable: true

---
# Configmap with env variables used only by Keycloak
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-app-config
  namespace: develop
data:
  KC_DB: postgres
  KC_DB_URL_HOST: keycloak-postgres-svc.develop.svc.cluster.local 
  KC_DB_SCHEMA: public
  KEYCLOAK_ADMIN: develop-admin
  KC_HOSTNAME_URL: https://accounts.localhost
immutable: false

---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
  namespace: develop
data:
  DB_PASSWORD: RFVNTVlwYXNzd29yZA==
  KEYCLOAK_ADMIN_PASSWORD: YWRtaW4=
immutable: true
